@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Stack+Sans+Headline:wght@200..700&display=swap');

:root {
    --color-green: #0C3C3B;
    --color-yellow:#FFC53E;
    --color-black: #171717;
    --color-white: #F9F3F1;
    --fontSize-p: 1em;
    --fontSize-h1: 3.8125em;
    --fontSize-h2: 3.0625em
    --fontSize-h3: 2.4375rem;
    --fontSize-h4: 1.9375rem;
}

* {
    font-family: Poppins;
}

header {
  background-color: var(--color-green);
  color: var(--color-white);
  max-height: 826px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.intro {
    padding-top: 100px;
    padding-left: 100px;
}

.intro h1{
    font-weight: 800;
    font-size: var(--fontSize-h1);
    margin-top: 8px;
    margin-bottom: 16px;
    line-height: 90%;
}

.intro p {
    font-size: var(--fontSize-p);
    margin-bottom: 40px;
}

.intro-img {
    padding-right: 100px;
}

.app-store {
    display: flex;
    gap: 20px;
}

nav {
    padding: 32px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

ul {
    display: flex;
    gap: 35px;
}

li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--color-white);
    font-size: var(--fontSize-p);
    
}

.download {
    background-color: var(--color-yellow);
    padding: 16px 32px;
    border-radius: 50px;
}

span {
    color: var(--color-yellow);
    font-weight: 200;
}



