@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Stack+Sans+Headline:wght@200..700&display=swap");

:root {
  --color-green: #0c3c3b;
  --color-yellow: #ffc53e;
  --color-black: #171717;
  --color-white: #f9f3f1;
  --fontSize-p: 1em;
  --fontSize-h1: 3.8125em;
  --fontSize-h2: 3.0625em;
  --fontSize-h3: 2.4375rem;
  --fontSize-h4: 1.9375rem;
}

* {
  font-family: Poppins;
}

span {
  color: var(--color-yellow);
  font-size: var(--fontSize-p);
  font-weight: 200;
}

h2 {
  color: var(--color-green);
  font-size: var(--fontSize-h2);
}

p {
  font-size: var(--fontSize-p);
}

header {
  background-color: var(--color-green);
  color: var(--color-white);
  max-height: 820px;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.intro {
  padding-top: 100px;
  padding-left: 100px;
}

.intro h1 {
  font-weight: 800;
  font-size: var(--fontSize-h1);
  margin-top: 8px;
  margin-bottom: 16px;
  line-height: 90%;
}

.intro p {
  font-size: var(--fontSize-p);
  margin-bottom: 40px;
}

.intro-img {
  padding-right: 100px;
}

.app-store {
  display: flex;
  gap: 20px;
}

nav {
  padding: 32px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

ul {
  display: flex;
  gap: 35px;
}

li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--color-white);
  font-size: var(--fontSize-p);
}

.btn {
  background-color: var(--color-yellow);
  padding: 16px 32px;
  border-radius: 50px;
}

main {
  margin-top: 100px;
}

main h2 {
  margin-top: 8px;
  margin-bottom: 16px;
}
main span {
  color: var(--color-green);
}

main p {
  color: var(--color-green);
}

.stats h3 {
  color: var(--color-green);
  font-size: var(--fontSize-h3);
  margin: 0;
}

.stats p {
  color: var(--color-green);
}

.stats {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
  margin-top: 64px;
}

.lines {
  border-radius: 10px;
  border: solid var(--color-yellow);
  border-width: 3px;
}

.helping {
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
}

.helping a {
  text-decoration: none;
  color: var(--color-white);
  font-size: var(--fontSize-p);
}

.helping img {
  border-radius: 50px;
  width: 400px;
}

.gridimg {
  display: grid;
}

.imgstudying {
  display: flex;
  gap: 35px;
  padding-right: 100px;
}

.arrow-btn {
  display: flex;
  gap: 20px;
}

.left a {
  color: var(--color-yellow);
  border-color: var(--color-yellow);
  border-radius: 50px;
  border-style: solid;
  padding: 12px 32px;
  border-radius: 50px;
  text-decoration: none;
}

.right a {
  background-color: var(--color-yellow);
  padding: 12px 32px;
  border-radius: 50px;
  text-decoration: none;
  color: var(--color-white);
}

.merch {
  background-color: var(--color-green);
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.merch h2 {
  color: var(--color-white);
  margin-top: 8px;
  margin-bottom: 48px;
}

.merch p {
  color: var(--color-white);
}

.merch span {
  color: var(--color-yellow);
}

.merch-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.merch-content {
  margin-left: 100px;
  margin-right: 100px;
}

.merch-cards article {
  width: 350px;
}

.merch-cards article img {
  width: 350px;
  background-color: var(--color-white);
  border-radius: 50px;
}

.merch-cards {
  display: flex;
  align-items: end;
  gap: 50px;
  justify-content: end;
}

.merch-cards h4 {
  font-size: var(--fontSize-h4);
  color: var(--color-white);
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
}
.understanding a {
  text-decoration: none;
  color: var(--color-white);
  font-size: var(--fontSize-p);
  background-color: var(--color-yellow);
  padding: 16px 32px;
  border-radius: 50px;
}

.understanding {
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
}

.understanding p {
  margin-bottom: 48px;
}

.understanding h2 {
  margin-top: 8px;
  margin-bottom: 16px;
}

.understanding img {
  width: 500px;
  border-radius: 50px;
  margin-right: 100px;
}

.understanding-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.journey span {
  color: var(--color-yellow);
}

.journey a {
  text-decoration: none;
  color: var(--color-white);
  font-size: var(--fontSize-p);
  background-color: var(--color-yellow);
  padding: 16px 32px;
  border-radius: 50px;
}

.journey {
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
  background-color: var(--color-green);
}

.journey p {
  margin-bottom: 48px;
  color: var(--color-white);
}

.journey h2 {
  margin-top: 8px;
  margin-bottom: 16px;
  color: var(--color-white);
}

.journey img {
  width: 500px;
  border-radius: 50px;
}

.journey-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.journey-text {
  margin-right: 100px;
}

.faq {
  text-align: center;
  padding-top: 100px;
}

.faq-wrapper {
  width: 50%;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}

.accordion {
  width: 100%;
  background: #fff;
  color: var(--color-green);
  cursor: pointer;
  padding: 20px;
  border: none;
  border-bottom: 2px solid var(--color-green);
  text-align: left;
  font-size: 1em;
  position: relative;
}

.accordion:after {
  content: "\02795";
  font-size: 1em;
  color: var(--color-green);
  float: right;
}

.accordion.active:after {
  content: "\2796";
  color: var(--color-green);
}

.panel {
  background: #fff;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.25s ease-out, padding 0.25s;
  padding: 0 20px;
  border-bottom: 1px solid;
  border-color: var(--color-green);
}

.panel.open {
  padding-top: 15px;
  padding-bottom: 15px;
}

.panel p {
  color: var(--color-green);
  margin: 15px 15px;
}
